@font-face {
  font-family: "Jost";
  src: url("./src/fonts/Jost-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("./src/fonts/Raleway-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  object-fit: cover;
}

button {
  border: none;
  background-color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

/* header */

.headerAd {
  height: 248px;
}
.headerAd img {
  width: 100%;
  height: 100%;
}
.headerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 80px;
}
.burgerMenu {
  display: none;
}
.headerLogo {
  width: 180px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navList {
  width: 856px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
.navItem {
  font-family: "Jost";
  font-weight: 500;
  font-size: 14px;
  line-height: 20.23px;
  text-transform: uppercase;
}
.navBtn {
  display: flex;
  align-items: center;
  font-family: "Jost";
  font-weight: 500;
  font-size: 14px;
  line-height: 20.23px;
  text-transform: uppercase;
}
.textViewLogo {
  display: none;
}

/* main */

.mainContent {
  background-color: #f3f5f7;
  padding: 50px 0 0 0;
}
.mainAd img {
  padding: 0 80px;
  width: 100%;
  margin: 95px 0;
}
.section {
  padding: 0 80px;
}
.wrapper {
  padding: 30px 20px;
  background: #fff;
}
.sectionHeader {
  height: 47px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.sectionHeader::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 4px;
  background: linear-gradient(90deg, #b0852c 0%, #d8c05b 100%);
}
.sectionTitle {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 27.27px;
}
.cards {
  width: 100%;
  padding: 30px 0 0 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.card {
  width: 295px;
  height: 369px;
}
.cardImage {
  width: 100%;
  height: 260px;
}
.cardContent {
  margin: 14px 0;
}
.cardCategory {
  margin-top: 14px;
  color: transparent;
  font-family: "Jost";
  font-weight: 500;
  font-size: 12px;
  line-height: 17.34px;
  background-image: linear-gradient(90deg, #b0852c 0%, #d8c05b 100%);
  background-clip: text;
  text-transform: uppercase;
}
.cardTitle {
  font-family: Georgia;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.18px;
  margin: 14px 0;
}
.cardMeta {
  text-transform: uppercase;
  color: #979797;
  font-family: "Jost";
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  gap: 8px;
  align-items: center;
}

/* grid */
.grid小ontainer {
  width: 100%;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: 162px 162px 370px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.gridCard img {
  height: 260px;
  width: 100%;
}

.specialCard {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 453px;
  color: #fff;
}
.specialCategoryName {
  width: max-content;
  padding: 6px 16px;
  background: linear-gradient(90deg, #b0852c 0%, #d8c05b 100%);
  font-family: "Raleway";
  font-weight: 600;
  font-size: 12px;
  line-height: 14.09px;
}
.specialCardDate {
  text-transform: uppercase;
  color: #e2e2e2;
  font-family: "Jost";
  font-weight: 400;
  font-size: 10px;
  line-height: 13.3px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.div1 {
  grid-area: 1 / 1 / 3 / 3;
  position: relative;
  background: url(./src/imges/9.png) no-repeat;
  background-size: cover;
  display: flex;
  align-items: end;
}
.div2 {
  grid-area: 1 / 3 / 2 / 4;
}
.div3 {
  grid-area: 1 / 4 / 2 / 5;
}
.div4 {
  grid-area: 2 / 3 / 3 / 4;
}
.div5 {
  grid-area: 2 / 4 / 3 / 5;
}
.div6 {
  grid-area: 3 / 1 / 4 / 2;
}
.div7 {
  grid-area: 3 / 2 / 4 / 3;
}
.div8 {
  grid-area: 3 / 3 / 4 / 4;
}
.div9 {
  grid-area: 3 / 4 / 4 / 5;
}

/* recomendations */
.slider {
  display: flex;
  align-items: start;
  padding: 0 0 125px;
  display: flex;
  gap: 20px;
}
.sliderTrack {
  display: flex;
  gap: 20px;
  overflow: hidden;
}
.sliderFirstItem {
  display: flex;
  width: 240px;
  height: 340px;
  flex-direction: column;
  justify-content: space-between;
}
.sliderTitle {
  height: 74px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.sliderTitle h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 27.27px;
}
.sliderTitle::after {
  content: "";
  width: 90%;
  position: absolute;
  bottom: 0;
  height: 4px;
  background: linear-gradient(90deg, #b0852c 0%, #d8c05b 100%);
}
.sliderNavigation {
  display: flex;
  justify-content: start;
  gap: 16px;
}
.sliderItem {
  height: 340px;
  width: 280px;
  background-color: white;
}
.sliderItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* footer */

.footer {
  background: #131212;
  padding: 63px 150px 18px;
  height: 420px;
  display: flex;
  flex-direction: column;
}
.footerTop {
  display: flex;
  height: 90px;
  justify-content: space-between;
  position: relative;
}
.footerTop::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 4px;
  background: linear-gradient(90deg, #b0852c 0%, #d8c05b 100%);
}
.footerLogo {
  width: 275px;
  height: 69.5px;
}
.footerNav {
  display: flex;
}
.footerSocial {
  display: flex;
  list-style-type: none;
  align-self: flex-end;
}
.footerBottom {
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.footerSlogan {
  width: 263px;
  font-family: "Jost";
  font-weight: 400;
  font-size: 14px;
  line-height: 20.23px;
}
.footerMenuWrapper {
  display: flex;
  width: 290px;
  justify-content: space-between;
}
.footerMenu ul {
  list-style-type: none;
  height: 132px;
}
.footerMenu ul li {
  margin-bottom: 8px;
  color: #e2e2e2;
  font-family: "Jost";
  font-weight: 400;
  font-size: 14px;
  line-height: 20.23px;
}
.footerMenuName {
  font-family: Georgia;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.18px;
  margin-bottom: 20px;
}
.footerContact {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.footerAddress {
  width: 152px;
  height: 46px;
  font-family: Georgia;
  font-weight: 700;
  font-size: 20px;
  line-height: 22.72px;
}
.footerWorktime {
  color: #979797;
  font-family: "Jost";
  font-weight: 400;
  font-size: 14px;
  line-height: 20.23px;
  margin: 10px 0;
}
.footerEmail {
  font-family: "Jost";
  font-weight: 500;
  font-size: 12px;
  line-height: 17.34px;
  text-decoration: underline;
}
.footerLicense {
  color: #979797;
  font-family: "Jost";
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

/* adaptive */

@media all and (max-width: 1290px) {
  .headerAd {
    height: 200px;
  }
  .imageViewLogo {
    display: none;
  }
  .textViewLogo {
    display: block;
  }
  .navList {
    display: none;
  }
  .burgerMenu {
    display: block;
  }
}

@media all and (max-width: 1220px) {
  .sliderItem:nth-last-child(-n + 1) {
    display: none;
  }
  .grid小ontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 020px;
    grid-row-gap: 020px;
  }

  .div1 {
    grid-area: 1 / 1 / 3 / 3;
  }
  .div2 {
    grid-area: 1 / 3 / 2 / 4;
  }
  .div3 {
    grid-area: 2 / 3 / 3 / 4;
  }
  .div4 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div5 {
    grid-area: 3 / 2 / 4 / 3;
  }
  .div6 {
    grid-area: 3 / 3 / 4 / 4;
  }
  .div7 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .div8 {
    grid-area: 4 / 2 / 5 / 3;
  }
  .div9 {
    grid-area: 4 / 3 / 5 / 4;
  }
}

@media all and (max-width: 1100px) {
  .card:nth-child(4n) {
    display: none;
  }
}

@media all and (max-width: 1050px) {
  .headerAd {
    height: 150px;
  }
}

@media all and (max-width: 920px) {
  .sliderItem:nth-last-child(-n + 2) {
    display: none;
  }
  .footer {
    height: auto;
    align-items: center;
  }

  .footerBottom {
    display: flex;
    flex-direction: column;
    padding: 0 0 20px 0;
    align-items: center;
  }
  .footerMenuWrapper {
    padding: 20px;
  }
}

@media all and (max-width: 768px) {
  .headerAd {
    height: 120px;
  }

  .card:nth-child(2n) {
    display: none;
  }

  .grid小ontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 020px;
    grid-row-gap: 020px;
  }
  .div1 {
    grid-area: 1 / 1 / 3 / 3;
  }
  .div2 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div3 {
    grid-area: 3 / 2 / 4 / 3;
  }
  .div4 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .div5 {
    grid-area: 4 / 2 / 5 / 3;
  }
  .div6 {
    grid-area: 5 / 1 / 6 / 2;
  }
  .div7 {
    grid-area: 5 / 2 / 6 / 3;
  }
  .div8 {
    grid-area: 6 / 1 / 7 / 2;
  }
  .div9 {
    grid-area: 6 / 2 / 7 / 3;
  }
}

@media all and (max-width: 500px) {
  .headerAd {
    height: 150px;
    display: flex;
    align-items: center;
    background-color: #004bde;
  }
  .headerAd img {
    height: 62px;
  }
  .headerNav {
    height: 44px;
    padding: 0 17px;
  }

  .section {
    padding: 0;
  }
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .card:nth-child(2n) {
    display: block;
  }
  .card {
    width: 100%;
  }
  .mainAd img {
    padding: 0;
    height: 100px;
    margin: 60px 0;
  }

  .gridCard {
    margin-bottom: 20px;
  }
  .grid小ontainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 154px 154px 154px 154px 240px 340px 340px 340px 340px;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
  }
  .div1 {
    grid-area: 5 / 1 / 6 / 2;
  }
  .div2 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div3 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div4 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div5 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .div6 {
    grid-area: 6 / 1 / 7 / 2;
  }
  .div7 {
    grid-area: 7 / 1 / 8 / 2;
  }
  .div8 {
    grid-area: 8 / 1 / 9 / 2;
  }
  .div9 {
    grid-area: 9 / 1 / 10 / 2;
  }

  .slider {
    position: relative;
  }
  .sliderTrack {
    position: absolute;
    left: 15px;
    top: 16%;
  }
  .sliderFirstItem {
    width: 100%;
    height: 525px;
    padding: 15px;
  }
  .sliderTitle::after {
    width: 100%;
  }
  .sliderNavigation {
    justify-content: end;
  }

  .footer {
    padding: 38px 16px;
  }
  .footerTop {
    height: 55px;
    width: 100%;
    align-items: center;
  }
  .footerLogo {
    width: 100px;
    height: 25px;
    display: flex;
    align-items: center;
  }
  .footerSocial li img {
    width: 30px;
    height: 30px;
  }

  .footerBottom {
    align-items: start;
    width: 100%;
  }
  .footerSlogan {
    width: 100%;
  }
  .footerMenuWrapper {
    padding: 20px 0;
    max-width: 100%;
  }
  .footerContact {
    align-items: start;
  }
}
